body, html {
    font-family: 'Open-sans', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}

:root {
    --red: #f73a18;
    --d-blue: #1a2139;
    --m-blue: #333e5b;
    --l-blue: #A3CEF1;
    --grey: #798190;
}

h1 {
    font-family: "Menlo", monospace;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    color: var(--m-blue);
}

a:link, a:visited {
    color: var(--grey);
    outline: 0;
    text-decoration: none;
}

img {
    width: 35px;
}

.modal-header {
    align-items: center;
    border-bottom: solid .5px var(--red);
    ;
}

.modal-content {
    padding: 0 20px;
}

.modal-icons {
    border-top: solid .5px var(--red);
    height: 50px;
    width: 100%;
}

.logo {
    padding: 18px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.flex {
    opacity: 1;
    transition: opacity .4s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: .5;
}

.flex .fa, .flex .fab {
    font-size: 1.8rem;
    color: var(--l-blue);
}